@keyframes collapse {
        from {height: 0px;}
        to {height: 100px;}
}

body {
    background-color: #080708;
    color: white;
    margin:0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    background-color: #EDD3C4;
    font-family: 'Mohave', sans-serif;
    font-size: large;
    color: black;
    height: auto;
    max-width: 100%;
    padding: 25px 0 0 0;
    margin: -25px 0 0 0;
}


h2 {
  text-align: center;
  font-family: 'Mohave', sans-serif;

}
header img {
    margin:0 0 0px 0;
    padding: 0;
    max-width: 100%;
}
img {
    max-width: 100%;
}

.collapsible {
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
  }
.collapsible h3 {
    font-family: 'Mohave', sans-serif;
    font-size: large;
    padding: 0;
    margin:0;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
      background-color: black;
  }
.material-symbols-outlined {
  padding:0;
  margin: auto 15px auto 0px;
}

  .material-symbols-outlined:after {
    content:'add';
  }
  .active span:after {
    content: "close"; /* Unicode character for "minus" sign (-) */
    margin-top: -15px;
    color:white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /*Make the plus/minus sign in the button float to the left*/
.collapsible_row1 {
  display: flex; flex-direction: row;
}
.collapsible_row1 h3  {
  margin-top: 2px;
}
button {
  border: none;
}
.project {
  border: 1px solid white;
  margin: 10px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
ul li {
  width: 25%;
  text-align: center;
  margin:5px;
  padding: 3px;
}
ul li img {
  width: 40px;
}
ul li p {
  font-size: large;
  font-weight: 400;
  padding:0;
  margin:10px;

}