@keyframes collapse {
        from {height: 0px;}
        to {height: 100px;}
}

body {
    background-color: #212738;
    color: white;
    margin:0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    font-family: 'Mohave', sans-serif;
    padding: 0 10px 0 10px
}
header img {
  border-radius: 50%;
  max-width: 80%;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: 'Mohave', sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
img {
    max-width: 100%;
}

.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
  }
.collapsible h3 {
    padding: 0;
    margin:0;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
      background-color: #212738;
  }
.material-symbols-outlined {
  padding:0;
  margin: auto 15px auto 0px;
}

  .material-symbols-outlined:after {
    content:'add';
  }
  .active span:after {
    content: "close"; /* Unicode character for "minus" sign (-) */
    margin-top: -15px;
    color:white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /*Make the plus/minus sign in the button float to the left*/
.collapsible_row1 {
  display: flex; flex-direction: row;
}
.collapsible_row1 h3  {
  margin-top: 2px;
}
button {
  border: none;
  background-color: #212738;

}
.project {
  border: 1px solid white;
  margin: 10px;
}

.skills ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%;
  padding: 0;
  margin: 0 10% 0 10%;
}
.skills ul li {
  text-align: center;

}
.skills ul li img {
  max-height: 40px;
}
.skills ul li p {
  font-size: large;
  font-weight: 400;
  padding:0;
  margin:12px;
}
.education {
  display: grid;
  grid-template-columns: 33% 67%;
  margin: 0px;
}
#edu_title {
  margin-top: 155px;
}
#proj_title {
  margin-top: 50px;
}
.education h3 {
  text-align: left;
  margin: 10px 0 10px 0px;
}
.education img {
  grid-column: 1/2;
  max-width: 70%;
  justify-self: center;
  padding-top: 15px;
}
#dliimg {
  padding: 0;
}
.education ul {
  margin: 0;
  padding: 0 0 30px 0;
  list-style-type: none;
}
.education ul li { 
  text-align: left;
  font-size: .8em;
  font-weight: 400;
  margin-top: 10px;
}

.edu_column_2 {
  grid-column: 2/3;
  border-left: 1px solid white;
  padding-left: 15px;

}
.other_skills {
  margin: 150px 0 0 0;
  padding: 0;
}
.other_skills ul {
  list-style-type: none;
  padding: 0;
}
.other_skills ul li {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  padding:0;
  margin:10px;
}